<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" color="light" [disabled]="!AddOfferForm.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="AddOfferForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="secondary">Title</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="secondary">Short Description</ion-label>
              <ion-textarea rows="3" formControlName="description"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!AddOfferForm.get('description').valid && AddOfferForm.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p style="color: #eb445a">Description Must be between 1 and 180 Characters. </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="secondary">Price</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="secondary">Available From</ion-label>
              <ion-datetime min="2020-01-01" max="2025-12-31" formControlName="dateFrom" display-format="MMM DD YYYY" #dateFrom></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="secondary">Available To</ion-label>
              <ion-datetime [min]="dateFrom.value" max="2025-12-31" display-format="MMM DD YYYY" formControlName="dateTo"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-images-picker (pickImage)="onImagePicked($event)"></app-images-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
